<div class="aboutContainer">
  <h1 class="description">ABOUT</h1>

  <p> I am an undergraduate at </p>
  <div class="svgContainer">
      <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 470.91 31.46">
        <defs>
          <linearGradient id="linear-gradient" x1="239.5" y1="-214.94" x2="239.5" y2="253.08" gradientTransform="translate(215.71 249) rotate(-90)" gradientUnits="userSpaceOnUse">
            <stop offset="0.08"/>
            <stop offset="0.27" stop-color="#3f4665"/>
            <stop offset="0.49" stop-color="#8492d3"/><stop offset="0.59" stop-color="#a0b0ff"/>
            <stop offset="0.65" stop-color="#b7acea"/><stop offset="0.74" stop-color="#d6a7cd"/>
            <stop offset="0.84" stop-color="#eda3b9"/><stop offset="0.92" stop-color="#faa1ac"/>
            <stop offset="1" stop-color="#ffa0a8"/>
          </linearGradient>
          
        </defs>
        <polygon class="cls-1" points="10.21 9.5 1.21 0.5 91.21 0.5 100.21 9.5 91.21 18.5 1.21 18.5 10.21 9.5"/>
        <polygon class="cls-1" points="93.71 18.5 183.71 18.5 192.71 9.5 183.71 0.5 93.71 0.5 102.71 9.5 93.71 18.5"/>
        <polygon class="cls-1" points="186.21 18.5 276.21 18.5 285.21 9.5 276.21 0.5 186.21 0.5 195.21 9.5 186.21 18.5"/>
        <polygon class="cls-1" points="278.71 18.5 368.71 18.5 377.71 9.5 368.71 0.5 278.71 0.5 287.71 9.5 278.71 18.5"/>
        <polygon class="cls-1" points="371.21 18.5 461.21 18.5 470.21 9.5 461.21 0.5 371.21 0.5 380.21 9.5 371.21 18.5"/>
        <text class="cls-2 _2015" transform="translate(34.65 13.81)">2015</text>
        <text class="cls-2 _2016" transform="translate(127.65 13.81)">2016</text>
        <text class="cls-2 _2017" transform="translate(220.65 13.81)">2017</text>
        <text class="cls-2 _2018" transform="translate(313.65 13.81)">2018</text>
        <text class="cls-2 _2019" transform="translate(406.65 13.81)">2019</text>
      </svg>
  </div>
</div>