<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="bgWrapper">
  <div class="bgContainer">
    <div class="hello">
      <p class="welcome"> Welcome </p>
    </div>
  </div>

  <div class="wrapper container">
    <h1 class="name"> NICHOLAS ANGELASTRO </h1>
    <img class="headshot" src="../../assets/prof2.jpg">
    <p class="description"> Full stack developer. </p>
    <p class="description"> Saxophonist. </p>
  </div>
</div>

<div id="nav" class="navbar"> 
  <a href="#contact" class="contact animation">CONTACT</a>
  <a href="#work" class="work animation">WORK</a>
  <a href="#projects" class="projects animation">PROJECTS</a>
  <a href="#about" class="about animation">ABOUT</a>
</div>

<div class="linkfooter">
    <a href="https://github.com/Nick-Angel" title="Nick Angelastro Github" target="_blank">
      <fa-icon [icon]="['fab', 'github-square']" size="2em" class="gitLink animation"></fa-icon>
    </a>
    <a href="https://www.facebook.com/NicholasAngelastro" title="Nick Angelastro Facebook" target="_blank">
      <fa-icon [icon]="['fab', 'facebook-square']" size="2em" class="fbLink animation"></fa-icon>
    </a>
    <a href="https://www.linkedin.com/in/nicholasangelastro/" title="Nick Angelastro LinkedIn" target="_blank">
      <fa-icon [icon]="['fab', 'linkedin']" size="2em" class="linkedLink animation"></fa-icon>
    </a>
</div>
<div class="aboutContainer">Hello</div>
