<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400&display=swap" rel="stylesheet">
<div class="bgWrapper">
  <div class="bgContainer">
    <div class="hello">
      <p class="welcome"> Welcome </p>
    </div>
  </div>

  <div class="wrapper container">
    <h1 class="name"> NICHOLAS ANGELASTRO </h1>
    <img class="headshot" src="../../assets/prof2.jpg">
    <p class="description"> Full stack developer. </p>
    <p class="description"> Saxophonist. </p>
  </div>
</div>

<div id="nav" class="navbar"> 
  <a href="#contact" class="contact">CONTACT</a>
  <a href="#work" class="work">WORK</a>
  <a href="#projects" class="projects">PROJECTS</a>
  <a href="#about" class="aboutLink">ABOUT</a>
</div>
<div class="linkfooter">
   
</div>
<div class="about">Hello</div>
