<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="bgWrapper">
  <div class="bgContainer">
    <div class="hello">
      <p class="welcome"> Welcome </p>
    </div>
  </div>

  <div class="wrapper">
    <h1 class="name">NICHOLAS ANGELASTRO</h1>
    <img class="headshot" src="../../assets/prof2.jpg">
    <p class="description">Full stack developer.</p>
    <p class="description">Saxophonist.</p>
  </div>
</div>

<div id="nav" class="navbar"> 
  <a href="#contact" class="contact animation">CONTACT</a>
  <a href="#work" class="work animation">WORK</a>
  <a href="#projects" class="projects animation">PROJECTS</a>
  <a href="#about" class="about animation">ABOUT</a>
</div>

<div class="linkfooter">
    <a href="https://github.com/Nick-Angel" title="Nick Angelastro Github" target="_blank">
      <fa-icon [icon]="['fab', 'github-square']" size="2em" class="gitLink animation"></fa-icon>
    </a>
    <a href="https://www.facebook.com/NicholasAngelastro" title="Nick Angelastro Facebook" target="_blank">
      <fa-icon [icon]="['fab', 'facebook-square']" size="2em" class="fbLink animation"></fa-icon>
    </a>
    <a href="https://www.linkedin.com/in/nicholasangelastro/" title="Nick Angelastro LinkedIn" target="_blank">
      <fa-icon [icon]="['fab', 'linkedin']" size="2em" class="linkedLink animation"></fa-icon>
    </a>
</div>

<div class="aboutContainer">
  <div class="svgContainer">
    <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 940.75 143.26" preserveAspectRatio="none">
      <path class="cls-1" d="M-60,310" transform="translate(7.93 -201.76)"/>
      <path class="cls-2" d="M-7.5,296.5C6.82,271.52,40,247.14,65,234.36c28.89-14.78,62.13-22.77,94.46-16.72,31.1,5.82,57.91,23.84,83.86,40.94,27.74,18.27,55.75,36.73,86.78,49,31.19,12.33,64.91,15.88,98.23,15.94a320,320,0,0,0,101.27-16.66,366.28,366.28,0,0,0,87.54-42.59c13.89-9.22,27.15-19.35,41.61-27.71A167.84,167.84,0,0,1,705,218.19c32.67-7.54,67.41-5.81,99.53,3.47,31.07,9,59.28,25.52,85.18,44.58,6.9,5.07,36.13,26.88,42.79,32.26" transform="translate(7.93 -201.76)"/>
      <circle class="cls-3 first" cx="136.93" cy="14.24" r="3.75"/>
      <circle class="cls-3 second" cx="295.93" cy="85.24" r="3.75"/>
      <circle class="cls-3 third" cx="493.93" cy="116.24" r="3.75"/>
      <circle class="cls-3 fourth" cx="819.93" cy="22.24" r="3.75"/>
      <circle class="cls-3 fifth" cx="655.93" cy="41.24" r="3.75"/>
      <text class="_2015 year" transform="translate(126.2 8.55)">2015</text>
      <text class="_2016 year" transform="translate(284.2 98.55)">2016</text>
      <text class="_2017 year" transform="translate(482.2 128.55)">2017</text>
      <text class="_2018 year" transform="translate(645.2 33.55)">2018</text>
      <text class="_2019 year" transform="translate(808.2 16.55)">2019</text>
    </svg>
  </div>
</div>

<div class="projectsContainer"></div>
