
<div class="linkfooter">
  <a href="https://github.com/Nick-Angel" title="Nick Angelastro Github" target="_blank">
    <fa-icon [icon]="['fab', 'github-square']" size="2em" class="gitLink animation"></fa-icon>
  </a>
  <a href="https://www.facebook.com/NicholasAngelastro" title="Nick Angelastro Facebook" target="_blank">
    <fa-icon [icon]="['fab', 'facebook-square']" size="2em" class="fbLink animation"></fa-icon>
  </a>
  <a href="https://www.linkedin.com/in/nicholasangelastro/" title="Nick Angelastro LinkedIn" target="_blank">
    <fa-icon [icon]="['fab', 'linkedin']" size="2em" class="linkedLink animation"></fa-icon>
  </a>
</div>