/** ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ **/
/** ~~~~~~~~~~~~~~~~~~ PROJECTS ~~~~~~~~~~~~~~~~~~~~~ **/
/** ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ **/

.projectsContainer {
    
    background-image: url("../../assets/bg3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
    height: 150vh;
    min-width: 100vw;
    opacity: .8;
}